extends base.pug
block content
    h2.text-center= "Selecciona el nivel:"
    
    div.temas
        a(href="/nivel3/ropa")
            div.tema
                h3.blue-text= "Ropa"
                img(src="/images/ropa.jpg")
        
        a(href="/nivel3/profesiones")
            div.tema
                h3.orange-text= "Profesiones"
                img(src="/images/profesiones.png")
                    
        a(href="/nivel3/verbos")
            div.tema
                h3.blue-text= "Verbos"
                img(src="/images/verbos.jpg")
        
        a(href="/nivel3/preguntas")
            div.tema
                h3.red-text= "Preguntas"
                img(src="/images/preguntas.jpg")

        a(href="/nivel3/escuela")
            div.tema
                h3.orange-text= "Escuela"
                img(src="/images/escuela.jpg")

        a(href="/nivel3/casa")
            div.tema
                h3.blue-text= "Casa"
                img(src="/images/casa.jpg")
    
        a(href="/nivel3/ropa")
            div.tema
                h3.red-text= "expresiones"
                img(src="/images/expresiones.jpg")
